@import url('https://fonts.googleapis.com/css?family=Dosis|Oxygen');

/* Generic styles */
html {
  
  font-family: Oxygen;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #070b10;
}

body {
  color: white;
  margin: 0 auto;
}

