.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 96%;
  padding: 15px 2% 10px 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 5px 8px #00000021;
  background-color:#2e3a62;
  height: 40px;
}

.logo-link {
  color: black;
  text-decoration: none;
  display: flex;
}

.logo-link:visited {
  color: black;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo-name {
  font-size: 22px;
  margin-top:5px;
  margin-left: 10px;
  color: white;
}

.logo-dcrawl {
  width: 30px;
  height: 35px;
}

.header-menu {
  margin-top: 10px;
}

.header-menu * {
  margin-right: 20px;
  text-decoration: none;
  color: #c4c2cd;
}


.icon {
  visibility: hidden;
  display: none;
}

@media screen and (max-width: 800px) {
  .header-menu a {display: none;}
  .header-menu .icon {
    float: right;
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .header {
    display: block;
    top: 0;
    padding-bottom: 0px;
    width: 92%;
    padding: 15px 5% 0px 5%;
  }
  .header-menu.responsive {
    position: relative;
    display: block;
  }
  .icon {
    display: block;
    visibility: visible;
    position: absolute;
    right: 30px;
    top: 27px;
  }
  .header-menu .logo {
    display: block;
    width: 100%;
    text-align: left;
  }
  .header-menu.responsive a {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .header-menu.responsive a:first-of-type {
    margin-top: -5px;
  }

  .header-menu.responsive a:last-of-type {
    padding-bottom: 15px;
  }
}

.status {
  margin-left: 20px;
  margin-top: 12px;
  display: flex;
}

.status-green {
  width: 10px;
  height: 10px;
  background-color: rgb(0, 197, 0);
  border-radius: 50%;
  margin-top: 3px;
  margin-right: 5px;
}

.status-red {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-top: 3px;
  margin-right: 5px;
}

@media screen and (max-width: 370px) {
  .status {
    display: none;
    visibility: hidden;
  }
}
