
.servergrid {
    padding: 2vw;
    
  }
  
  .servergrid > div > ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 40px;
    list-style-type: none;
    padding-inline-start: 0px;
  }
  
  .servergrid > div > ul > li {
     border-top-left-radius:10px;
     border-top-right-radius:30px;
  }
  
  .servergrid > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
  }
  
  .servergrid > ul > li > figure > img {
    width: 100%;
  }
  
  .servergrid > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
  
  .servergrid > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 2.8vw;
  }
  
  .servergrid > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
  }
  
  .servergrid > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
  }
  

  p {
    font-size: 2.5vw;
  }

  *.loading {
    margin-left: 50%;
  }

  *.blockInline {
    display: inline-block;
  }
